body
{
	margin: 0;
	padding: 0;
	background: #000;
}
h1
{
	align-content: center;
	color: red;
}
p
{
	color: green;
}
ol
{
	color: pink;
}
h2
{
	color: yellow;
}
article
{
	width: 600px;
	height: 400px;
}
#and
{
	padding: 20px;
	margin: 50px;
	width: 990px;
	height: 100px;
	border-radius: 30px;
}
#or
{
	padding: 20px;
	border-color: red;
	width: 1024px;
	height: 600px;
	border-radius: 35px;

}